

body {
  background-image: url(./Assets/Images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.Nav-bg {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
}



#nav-dropdown {
  color: #ffffff; /* Set the default text color */
  transition: color 0.3s; /* Add a smooth transition effect */
  
}

#nav-dropdown:hover {
 text-decoration: underline greenyellow;
 text-underline-offset: 37px;
}

.Logo {
  margin-left: -60%;
}




.transparent-bg {
  height: 450px !important;
  width: 23%;
  margin-top: 6%;
  margin-left: 4%;
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: none;
}

.title {
  text-decoration: none;
  position: relative;
  
}
.form-control{
  color: #ffffff !important;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 32%;
  width: 37%;
  height: 2px;
  background-color: #37e437; /* Set the color of the underline */
  display: block;
  margin-top: 14px; /* Adjust the space between the text and the underline */
}
.card-button{
  margin-left: 95px ;
  
  margin-bottom: 5%;
}
.nano{
  margin-left: 86%;
  margin-top: 4%;
}
textarea.form-control{
  background-color: rgba(0,0,0,0.5);
  border: none  ;
  
}
.inputlabels{
  background-color: rgba(0,0,0,0.0) !important;
  border: none  !important;
  border-bottom: #ffffff solid 0.2px !important;
}
.inputlabels::placeholder{
  
  color:white !important;
}
.textarea::placeholder{
  color: rgb(173, 164, 164) !important;
  font-size: smaller;
}/* Assuming you have a custom style sheet */
.phone-button {
 background-color: #ffffff !important;
 color: darkgray !important;
 font-size: small;
width: 170px;
height: 50px;
border: none !important;
margin-left: 50%;
}
.bookbutton{
  width: 160px;
height: 50px;
margin-left: 50%;
}
